<div class="d-flex justify-content-center mt-3">
  <h5 style="margin-right: 10px; font-size: 18px;">Filtro por Categoría:</h5>
  <div class="form-group d-flex">
    <select class="form-control col-md-4" [(ngModel)]="selectedCategoria" name="categoria" (change)="filtrarMedicinas2()">
      <option value="">Todos</option>
      <option value="Analgesicos">Analgesicos</option>
      <option value="Antibioticos">Antibióticos</option>
      <option value="Antiinflamatorios">Antiinflamatorios</option>
      <option value="Antipireticos">Antipiréticos</option>
      <option value="Antidepresivos">Antidepresivos</option>
    </select>
  </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <span> <h4>Almacen de Medicamentos</h4> </span>
                    <br>
                    <table *ngIf="medicinas.length > 0" class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Medicina</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Administración</th>
                            <th scope="col">Existencias</th>
                            <th scope="col">Disponibilidad</th>
                            <th scope="col">Actualizar Existencias</th>
                            <th scope="col">Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medicina of medicinasFiltradas">
                            <td> {{ medicina.nombreMedicina }} </td>
                            <td> {{ medicina.categoria }} </td>
                            <td> {{ medicina.viaAdministracion }} </td>
                            <td> {{ medicina.cantidad }} </td>
                            <td> {{ medicina.medicamentoDisponible }} </td>
                            <td> <button  (click)="obtenerMedicinaPorId(medicina._id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary"><i class="fas fa-sync-alt"></i></button> </td>
                            <td> <button (click)="eliminarMedicina(medicina._id)" class="btn btn-danger"><i class="fa fa-trash"></i></button> </td>
                          </tr>
                        </tbody>
                      </table>
                      <h4 style="text-align: center; margin-top: 10px;" *ngIf="medicinas.length == 0" >No Hay Productos Para Mostrar</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBakdropLabel">
          Actualizar Existencias:
        </h5>
      </div>

      <div class="modal-body">
        <div *ngIf="medicinaSeleccionada">
          <p>Nombre: {{ medicinaSeleccionada.nombreMedicina }}</p>
          <p>Categoría: {{ medicinaSeleccionada.categoria }}</p>
          <p>Existencias: {{ medicinaSeleccionada.cantidad }}</p>
          
          <!-- Formulario para editar existencias -->
          <form (ngSubmit)="guardarCambios()">
            <div class="form-group">
              <label for="nuevasExistencias">Nuevas Existencias:</label>
              <br>
              <input type="number" class="form-control" id="nuevasExistencias" [(ngModel)]="nuevasExistencias" name="nuevasExistencias">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-3" data-bs-dismiss="modal">
          <li class="fas fa-times-circle">&nbsp;Cerrar</li>
        </button>
      </div>
    </div>
  </div>
</div>